<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>::: Defect Management Login :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script src="../static/js/project.js"
       		th:src="@{/js/project.js}"></script>
</head>
<body>
	<div class="container">
	    <nav class="navbar navbar-default">
	         <div class="container-fluid">
	             <div class="navbar-header">
	                 <ul class="nav navbar-nav">
	                 	 <li><a href="/dashboard">Home</a></li>
	                     <li><a href="/defects/search">Observations</a></li>
	                 </ul>
					 <a class="navbar-brand" href="/defects/observation/new">Create/Edit Observation</a>
	             </div>
	             <div class="navbar-header">
               		<form th:action="@{/logout}" method="post" style="width: 1000%; background: none; box-shadow: none;">
				    	<button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Sign Out</button>
				    </form>
               </div>
	         </div>
	     </nav>
	     <div class="jumbotron" style="padding-right: 0px; padding-left:100px;">
	        <form th:object="${observation}" th:action="@{/defects/addObservation}" method="post" style="width: 90%;">
	        	<h3 th:if="${observationId} != null" style="padding-top: 2%; text-align: center;">Edit Observation</h3>
	        	<h3 th:if="${observationId} == null" style="padding-top: 2%; text-align: center;">Create Observation</h3>
	        	<input th:if="${observationId} == null" type="hidden" th:field="*{observationId}"/>
	        	<table style="width: 100%;">
	        		<tr style="font-size: 15px; vertical-align: middle;" th:if="${observationId} != null">
	        			<td colspan="4"><input type="text" title="Observation Id" th:field="*{observationId}" placeholder="Observation Id" readOnly="readonly" required="required" style="width: 90%;"/></td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="4"><input type="text" title="Description" th:field="*{description}" placeholder="Description" required="required" style="width: 90%;"/></td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="1"><input type="text" title="Build" th:field="*{build}" placeholder="Build" required="required" style="width: 70%;"/></td>
	        			<td colspan="1"><input type="text" title="Broswer" th:field="*{browser}" placeholder="Browser" required="required" style="width: 70%;"/></td>
	        			<td colspan="1"><input type="text" title="Jira Id" th:field="*{jiraId}" placeholder="Jira Id" style="width: 70%;"/></td>
	        			<td colspan="1" th:if="${reported} eq 'Y'"><input type="text" title="Reported" th:field="*{reported}" placeholder="Reported" style="width: 60%;" readonly="readonly"/></td>
	        			<td colspan="1" th:if="${reported} eq 'N'">
	        				<select class="form-control" name="reported" id="reported" th:field="*{reported}" required="required" style="width: 90%;" title="Reported to HCL">
						     	<option value="Y">Yes</option>
								<option value="N">No</option>
							</select>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="4"><input type="text" title="Actual Results" th:field="*{actualResults}" placeholder="Actual Results" required="required" style="width: 90%;"/></td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="4"><input type="text" title="Expected Results" th:field="*{expectedResults}" placeholder="Expected Results" required="required" style="width: 90%;"/></td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="4">
	        				<select class="form-control" name="createdBy" id="createdBy" th:field="*{createdBy}" required="required" style="width: 90%;" title="Created By">
						    	<option value="-1">--Select--</option>
						     	<option th:each="user : ${users}"
						        	th:value="${user.userId}"
						            th:text="${user.userName}">
     							</option>
							</select>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			<td colspan="4">
	        				<textarea rows="2" cols="4" th:field="*{steps}" placeholder="Steps" title="Steps" required="required" style="width: 90%;"></textarea>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        		<tr style="font-size: 15px; vertical-align: middle;">
	        			  <td colspan="2">
		                      <span th:if="${observationId} != null" style="width: 70%;text-align: center;"> 
		                      	<a th:href="@{|/defects/attachments/${observation.observationId}|}">Add / View Attachments</a>
		                   	  </span>
		                  </td>
		                  <td colspan="2">
		                      <span th:if="${observationId} != null" style="width: 70%;text-align: center;"> 
		                      	<a th:href="@{|/defects/export/${observation.observationId}|}">Export Observation</a>
		                      </span>
	                     </td>
	        		</tr>
	        		<tr>
	        			<td bgcolor="#FFFFFF" style="line-height:10px;" colspan="4">&nbsp;</td>
	        		</tr>
	        	</table>
	        	<div class="nav-bar"></div>
		    	<div class="row">
	                <button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Submit</button>
	            </div>
	        </form>
	    </div>
	</div>
</body>
</html>