<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>::: Defect Management Login :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script src="../static/js/project.js"
       		th:src="@{/js/project.js}"></script>
</head>
<body>
	<div class="container">
       <nav class="navbar navbar-default">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="/dashboard">Home</a>
                   <ul class="nav navbar-nav">
                       <li><a href="/defects/search">Observations</a></li>
                       <li><a href="/defects/observation/new">Create Observation</a></li>
                   </ul>
               </div>
               <div class="navbar-header">
               		<form th:action="@{/logout}" method="post" style="width: 1000%; background: none; box-shadow: none;">
				    	<button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Sign Out</button>
				    </form>
               </div>
           </div>
       </nav>
        <div class="jumbotron">
            <div class="row text-center">
               	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                <h2>Welcome to Defect Management Tool</h2>
                <h3>Project: Compass Re-Platform</h3>
            </div>
        </div>
	</div>
</body>
</html>