<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>::: Defect Management Login :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>
    <body style="display: flex; justify-content: center; align-items: center; font-size: 16px;">
        <form th:action="@{/login}" method="post">
			<header>Login</header>
			<div class="container">
				<div th:if="${param.error}">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}">
		            You have been logged out.
		        </div>
				<label><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="username" required="required"/>
				<label><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="password" required="required"/>
				<button type="submit" style="left: 5%;">Sign In</button>
			</div>
        </form>
    </body>
</html>