<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>::: Defect Management Login :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script src="../static/js/project.js"
       		th:src="@{/js/project.js}"></script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
         <div class="container-fluid">
             <div class="navbar-header">
                 <ul class="nav navbar-nav">
                     <li><a href="/hello">Home</a></li>
                 </ul>
                 <a class="navbar-brand" href="/defects/search">Observations</a>
				 <ul class="nav navbar-nav">
                     <li><a href="/defects/observation/new">Create Observation</a></li>
                 </ul>
             </div>
             <div class="navbar-header">
               		<form th:action="@{/logout}" method="post" style="width: 1000%; background: none; box-shadow: none;">
				    	<button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Sign Out</button>
				    </form>
               </div>
         </div>
     </nav>
     <form th:action="@{/defects/searchbyquery}" method="post" style="width: 525px; margin: 0 auto;">
     	<table style="width: 100%;">
     		<tr style="font-size: 15px; vertical-align: middle;">
     			<td style="width: 100px;"><label style="padding-bottom: 20px;">Created By: </label></td>
     			<td style="width: 100px; padding: 10px;">
     				<select class="form-control" name="createdBy" id="createdBy" title="Created By">
				    	<option value="all">All</option>
				     	<option th:each="user : ${users}"
				        	th:value="${user.userId}"
				            th:text="${user.userName}">
     					</option>
					</select>
				</td>
				<td style="width: 100px;"><label style="padding-bottom: 20px;">Reported: </label></td>
				<td style="width: 100px; padding: 10px;">
   					<select class="form-control" name="reported" id="reported" title="Reported to HCL">
						<option value="Y">Yes</option>
						<option value="N" selected="selected">No</option>
					</select>
				</td>
				<td style="padding-left: 60px; padding-bottom: 20px;">
					<button type="submit" class="btn btn-default" style="margin-bottom: 15%;">Search</button>
				</td>
     		</tr>
     	</table>
     </form>
     <div style="bgcolor: #FFFFFF; line-height: 10px;"></div>
     <div th:if="${not #lists.isEmpty(observations)}">
	     <table class="table table-striped">
	         <tr>
	             <th>ObservationId</th>
	             <th>Description</th>
	             <th>Expected Results</th>
	             <th>Created By</th>
	         </tr>
	         <tr th:each="observation : ${observations}">
	             <td style="width: 5%;"><a th:text="${observation.observationId}" th:href="@{|/defects/observation/${observation.observationId}|}"></a></td>
	             <td style="width: 40%;" th:text="${observation.description}">Description</td>
	             <td style="width: 40%;" th:text="${observation.expectedResults}">Expected Results</td>
	             <td style="width: 15%;" th:text="${observation.createdBy}">Created By</td>
	             
	         </tr>
	     </table>
  	</div>
</div>
</body>
</html>