<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>::: Defect Management Login :::</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script src="../static/js/project.js"
       		th:src="@{/js/project.js}"></script>
    <script type="text/javascript">
    	function closeAttachmentPage() {
    		document.getElementById("form1").method="GET";
    		document.getElementById("form1").action = '/defects/observation/'+document.getElementById("observationId").value;
    		document.getElementById("form1").submit();
    	}
    </script>
</head>
<body>
	<div class="container">
	    <nav class="navbar navbar-default">
	         <div class="container-fluid">
	             <div class="navbar-header">
	                 <ul class="nav navbar-nav">
	                 	 <li><a href="/dashboard">Home</a></li>
	                     <li><a href="/defects/all">Observations</a></li>
	                 </ul>
					 <a class="navbar-brand" href="/defects/observation/new">Create/Edit Observation</a>
	             </div>
	             <div class="navbar-header">
               		<form th:action="@{/logout}" method="post" style="width: 1000%; background: none; box-shadow: none;">
				    	<button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Sign Out</button>
				    </form>
               </div>
	         </div>
	     </nav>
	     <div class="jumbotron" style="padding-right: 0px; padding-left:100px; padding-top:100px;">
			<form method="POST" id="form1" enctype="multipart/form-data" th:action="@{/defects/addattachment}" style="width: 90%;">
				<h3 style="padding-top: 2%; text-align: center;">Upload Attachments</h3>
				<input type="hidden" th:field="*{attachment.observationId}"/>
				<span style="width: 90%;"> 
					File to upload: <input type="file" name="file" required="required"/>
				</span>
				<div class="row">
       				<button type="submit" class="btn btn-default" style="right: -90%; margin-bottom: 2%;">Submit</button>
       				<button type="submit" class="btn btn-default" style="right: -75%; margin-bottom: 2%;" onclick="javascript: closeAttachmentPage();">Close</button>
				</div>
			</form>
		</div>
		<div class="jumbotron" style="padding-right: 0px; padding-left:100px;">
			<table style="width: 100%;">
				<tr th:each="file, iterationStatus : ${files}" style="font-size: 15px; vertical-align: middle;">
					<td th:text="${iterationStatus.count}" colspan="1"></td>
					<td colspan="2">
						<span style="width: 90%;" th:text="${file.fileName}"></span>
						<img id="profileImage" src="data:image/jpg;base64, ${file.file}"/>
						<a th:href="@{|/defects/deleteattachment/${file.observationId}/${file.attachmentId}|}">Delete</a>
					</td>
				</tr>
       		</table>
		</div>
	</div>
</body>
</html>